{% extends "map_neigh/home.html" %}
{% block content %}

<!--jQuery scripts -->
<script>
$(document).ready(function(){
  var setApproveButton = document.getElementById('approve_address')
  $('#approve_address').click(function()
  {
    changeValue(3);
    setApproveButton.id = "approve2"
  });
});
</script>

<div class='container'>
  <div id='inner'>
    <br>
    <form method="POST">

      {% csrf_token %}
      {{form.as_p}}

      <p>
        <label>Wybierz dom, w którym mieszkasz:</label>
      </p>
      <div class='row' style='height:30rem'>
        <div id='map1'></div>
      </div>
    </br>
    </br>
      <button class="btn btn-primary" type="submit">Zarejestruj</button>
    </form>
    <button class="btn btn-success" id="approve_address" style="position: relative; top:-6rem">Zatwierdź wybór</button>
    <br>
    <br>
    Jeżeli masz już konto <a href="/login"><strong>zaloguj</strong></a> się.
  </div>
</div>

<script>
function changeValue(value){
  document.getElementById('id_address').value = value
}

  //osm layer
  var osm = L.tileLayer('https://api.mapbox.com/styles/v1/rannekapcie00/cjseg2i0p0ju41gphhq62t1h4/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoicmFubmVrYXBjaWUwMCIsImEiOiJjamY4MzNyM3Qyb3ZtMzFrN3ltMnNkNTJqIn0.bus9unBLrRQ4SAmFaShBMg',
  {
    maxZoom: 19,
    attribution: "Data by OpenStreetMap"
  });
  //creating map object
  var map = new L.map('map1', {
    center: new L.LatLng(52.474949, 16.912119),
    zoom: 16.0,
    layers: [osm],
    zoomControl: true
  });

  //locator button
  var locator = L.control.locate({
    position: 'topleft',
    strings: {
      title: 'Zlokalizuj'
    }
  }).addTo(map);

  function onFeature(feature, layer) {
    layer.on('click', function(e){
      document.getElementById('id_address').value = parseInt(feature.properties.pk)
    })
  }

$.ajax({
    type:"GET",
    url: "../geojson",
    dataType: 'json',
    success: function(response){
      layer = L.geoJson(response, {
        style: function(feature){
          return {color: "#2c65c1", fillColor: "4774bc", weight: 2};
        },
        onEachFeature: onFeature
      }).addTo(map);
    }
  });

</script>
{% endblock %}
